* {
  box-sizing: border-box;
}
body {
  /* background: #4cbfa6; */
  background: #f4d8ae;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  min-width: 400px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.input-container #numberVal {
  font-size: 3rem;
  text-align: center;
}

.btn-container button {
  background-color: transparent;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 20px;
  font-size: x-large;
  transition: all 0.3s ease-in-out;
  transition-property: scale, color, background-color;
}

#svg {
  width: 30%;
  height: 50%;
}

.curve-container {
  margin: 15px;
  width: 400px;
  height: 300px;
  background-image: url("./assets/jojo.png");
  background-size: cover;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.75);
}

@media (hover: hover) {
  .btn-container button:hover {
    scale: 1.1;
    color: whitesmoke;
    background-color: black;
  }
}
